.slider {
  .container {
    position: relative;
  }
  &__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    padding: 0 1rem;
    text-align: center;
    pointer-events: none;

    z-index: 10;
  }

  &__breadcrumbs {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 20;

    &-list {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      a,
      span {
        color: #ffffff;
        opacity: 30%;
        text-decoration: none;
        font-size: 10px;
        letter-spacing: 0.06rem;
      }
    }

    &-sep {
      margin: 0 8px;
      color: #c4c4c4;
      opacity: 0.3;
    }
  }

  &__title {
    font-size: 72px;
    line-height: 0.8;
    font-weight: 400;
    color: white;
    margin: 0 0 25px;
  }

  &__subtitle {
    font-size: 16px;
    color: white;
    line-height: 130%;
    font-weight: 500;
  }
  .swiper-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 13px 24px;
    border-radius: 16px;
    display: flex;
    gap: 6px;
    z-index: 10;
    max-width: 124px;
    justify-content: space-between;
  }

  .swiper-pagination-bullet {
    background-color: white;
    opacity: 0.6;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: opacity 0.3s;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    z-index: 11;
  }
}

@media (max-width: 768px) {
  .slider {
    .swiper-container {
      display: none;
    }
    &__overlay {
      display: none;
    }

    &__breadcrumbs {
      top: 0px;

      &-item {
        a,
        span {
          color: #1F2020;
        }
      }

    }
  }
}
