.slider {
  .swiper-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 13px 24px;
    border-radius: 16px;
    display: flex;
    gap: 6px;
    z-index: 10;
    max-width: 124px;
    justify-content: space-between;
  }

  .swiper-pagination-bullet {
    background-color: white;
    opacity: 0.6;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: opacity 0.3s;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    z-index: 11;
  }
}

@media (max-width: 1024px) {
  .slider {
    display: none;
  }
}
