.article-card
  img.article-card__image(src="./img/products/color.png", alt="Название товара")
  h3.article-card__title Краска Wallquest, Brownsone MS90102
  p.article-card__price 6000 ₽
  button.article-card__btn(type="button") В корзину