section.slider
  .container
    nav.slider__breadcrumbs
      ul.slider__breadcrumbs-list
        li.slider__breadcrumbs-item
          a(href='/') ГЛАВНАЯ
        li.slider__breadcrumbs-sep •
        li.slider__breadcrumbs-item
          a(href='/products') ПРОДУКТЫ
        li.slider__breadcrumbs-sep •
        li.slider__breadcrumbs-item
          span КРАСКИ

    .slider__overlay
      h2.slider__title Краски
      p.slider__subtitle Идеально подходят для стен и других поверхностей.<br /> Найди свой идеальный цвет!
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          img(src="img/slider.png", alt="Краска 1")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 2")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 3")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 4")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 5")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 6")
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
