section.slider
  .container
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          img(src="img/slider.png", alt="Краска 1")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 2")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 3")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 4")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 5")
        .swiper-slide
          img(src="img/slider.png", alt="Краска 6")
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next
