
<header class="header">
  <div class="container">
    <div class="header__inner">
      <button class="header__burger" type="button" aria-label="Открыть меню"><span class="header__burger-line"></span><span class="header__burger-line"></span><span class="header__burger-line"></span></button>
      <div class="header__left"><a class="header__logo" href="#"><img src="img/logo.png" alt=""/></a>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__menu-item"><a href="#">ПРОДУКТЫ</a></li>
            <li class="header__menu-item"><a href="#">ЦВЕТА</a></li>
            <li class="header__menu-item"><a href="#">ВДОХНОВЕНИЕ</a></li>
            <li class="header__menu-item"><a href="#">СОВЕТЫ</a></li>
            <li class="header__menu-item"><a href="#">НАЙТИ МАГАЗИН</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__actions">
        <div class="header__phone-block"><a class="header__phone" href="tel:+74952217769">+7 (495) 221-77-69</a><span class="header__phone-note">Заказать звонок</span></div>
        <div class="header__icons">
          <button class="header__icon" type="button"><img src="img/icons/search.png" alt="Поиск"/></button>
          <button class="header__icon" type="button"><img src="img/icons/profile.png" alt="Личный кабинет"/></button>
          <button class="header__icon" type="button"><img src="img/icons/heart.png" alt="Избранное"/></button>
          <button class="header__icon header__cart" id="cart-button" type="button"><span class="header__cart-count">0</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-modal-overlay hidden">
    <div class="cart-modal">
      <button class="cart-modal__close" type="button">×</button>
      <h2 class="cart-modal__title">Корзина</h2>
      <div class="cart-modal__header"><span class="cart-modal__count">0 товаров</span>
        <button class="cart-modal__clear" type="button">очистить список</button>
      </div>
      <ul class="cart-modal__list"></ul>
      <div class="cart-modal__footer">
        <div class="cart-modal__total"><span>Итого&nbsp;</span><span class="cart-modal__total-sum">0 ₽</span></div>
        <button class="cart-modal__order" type="button">ОФОРМИТЬ ЗАКАЗ</button>
      </div>
    </div>
  </div>
  <div class="menu-modal-overlay hidden">
    <div class="menu-modal">
      <button class="menu-modal__close" type="button" aria-label="Закрыть меню">×</button>
      <nav class="menu-modal__nav">
        <ul class="menu-modal__menu">
          <li class="menu-modal__item"><a class="menu-modal__link" href="#">ПРОДУКТЫ</a></li>
          <li class="menu-modal__item"><a class="menu-modal__link" href="#">ЦВЕТА</a></li>
          <li class="menu-modal__item"><a class="menu-modal__link" href="#">ВДОХНОВЕНИЕ</a></li>
          <li class="menu-modal__item"><a class="menu-modal__link" href="#">СОВЕТЫ</a></li>
          <li class="menu-modal__item"><a class="menu-modal__link" href="#">НАЙТИ МАГАЗИН</a></li>
          <button class="header__icon" type="button"></button>
        </ul>
      </nav>
      <div class="menu-modal__phone-block"><a class="menu-modal__phone" href="tel:+74952217769">+7 (495) 221-77-69</a><span class="menu-modal__phone-note">Заказать звонок</span></div>
      <div class="menu-modal__icons">
        <button class="header__icon" type="button"><img src="img/icons/search.png" alt="Поиск"/></button>
        <button class="header__icon" type="button"><img src="img/icons/profile.png" alt="Личный кабинет"/></button>
        <button class="header__icon" type="button"><img src="img/icons/heart.png" alt="Избранное"/></button>
      </div>
    </div>
  </div>
</header>