@use "./components/slider";
@use "./components/header";
@use "./components/catalog";
@use "./components/card";
@use "./components/footer";

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.06em;
}
a {
  -webkit-tap-highlight-color: transparent;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  outline: none;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-tap-highlight-color: transparent;
}